:root {
    /* Colors */
    --main-bg-color: rgba(0, 0, 0, 0.897);
    --hover-color: #FFD700;
    --text-color: white;
    --info-bg-color: #2a2a2a;
    --footer-bg-color: #333;

    /* Text */
    --text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.75);
    --font-size-large: 20px;
    --font-size-medium: 18px;

    /* Spacing */
    --default-padding: 10px;
    --default-margin: 20px;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow-x: hidden; /* Prevents horizontal scroll */
}

header {
    display: flex;
    align-items: center;
    justify-content: space-around; 
    background: var(--main-bg-color);
    padding: 10px 0;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.logo {
    width: 100px;
    margin-left: var(--default-margin);
}

.navbar {
    flex: 1;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    text-decoration: none;
    color: var(--text-color);
    font-size: var(--font-size-large);
    font-weight: bold;
    text-shadow: var(--text-shadow);
}

nav ul li a:hover {
    color: var(--hover-color);
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between; /* Change to 'space-between' for even spacing */
    height: 100vh;
    background: url('images/inside_photograph.webp') no-repeat center center / cover;
}

.main-logo {
    width: 200px; /* adjust width as needed */
    margin-top: 20px; /* or adjust this to push it further down if needed */
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent background */
    border-radius: 10px; /* Rounded corners */
    position: relative;
    z-index: 2; /* Makes sure it's above the background image */
}

.level-up-container {
    display: flex;
    justify-content: center; /* Center the image horizontally */
    
}

.level-up-image {
    max-width: 10vw;
}

.content-section {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    text-shadow: var(--text-shadow);
    color: var(--text-color); /* Ensures text is readable */
}

.info {
    margin-bottom: 60px;
    background-color: var(--info-bg-color);
    background-image: radial-gradient(circle, #3a3a3a 1px, transparent 1px);
    background-size: 10px 10px;
    position: relative; /* Required to make z-index effective */
    border: 1px solid #FFFFFF; /* White border for extra visibility */
    padding: 10px;
}

.about-us {
    background-color: #1a1a1a; /* Darker shade for better contrast */
    background-image: radial-gradient(circle, #3a3a3a 1px, transparent 1px);
    background-size: 10px 10px;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
    padding: 20px;
}

.content-wrapper {
    width: 100%; /* Full width */
    max-width: 960px; /* Max width to control spacing on larger screens */
    margin: auto; /* Centers the wrapper */
    padding: 20px; /* Padding for aesthetics */
}

.icon-section {
    display: grid;
    grid-template-columns: auto 1fr; /* Auto for the icon width and 1fr for the text */
    gap: 10px; /* Reduced gap for tighter layout */
    align-items: center;
    justify-content: center; /* This will center the grid items horizontally */
    text-align: left; /* Aligns text to the left for better readability next to the icon */
    margin-top: 20px;
    width: 100%; /* Ensure it takes the full container width */
}

.icon {
    width: 80px; /* Larger icons */
    transition: transform 0.3s ease;
}

.icon:hover {
    transform: scale(1.1); /* Slight zoom on hover */
}

.icon-description {
    padding: 10px;
    background: rgba(255, 255, 255, 0.1); /* Slight background for readability */
    border-radius: 8px;
}

.meet-the-team {
    text-align: center;
    padding: 20px;
    background: rgba(255, 255, 255, 0.1);;
    color: var(--text-color);
}

.team-member {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.team-img {
    width: 150px; /* Adjust size as needed */
    height: auto;
    margin-right: 20px;
}

.member-info h3 {
    margin: 0;
    color: var(--hover-color);
}

.member-info p {
    font-size: 16px;
    text-align: left;
    max-width: 600px; /* Adjust as necessary */
}

.menu-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    text-align: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('images/menupagebackground.webp'); /* Update this path with your actual image file */
    background-size: cover;
    background-position: center;
    width: 100%; /* Ensures full width coverage */
}

.page-title {
    margin-bottom: 20px;
    font-size: 24px;
    color: var(--hover-color);
    text-shadow: var(--text-shadow);
}

.pizza-section h2 {
    color: var(--hover-color);
    margin-bottom: 15px;
}

.pizza-section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* This creates a responsive grid */
    gap: 20px; /* Space between grid items */
    justify-content: center; /* Center the grid items in the container */
    width: 100%;
}

.menu-item {
    background: rgba(0, 0, 0, 0.75);
    border-radius: 8px;
    padding: 20px;
    text-align: left; /* Aligns text to the left within each menu item */
}

.menu-item h3 {
    color: var(--hover-color);
}

.menu-item p {
    color: var(--text-color);
    font-size: 16px;
}

footer {
    text-align: center;
    padding: var(--default-padding) 0;
    background: var(--footer-bg-color);
    color: var(--text-color);
}


/* Adjustments for mobile screens */
@media (max-width: 600px) {

    header {
        position: fixed;
        width: 100%;
        background: rgba(0, 0, 0, 0.6); /* Reduced opacity to allow more background visibility */
        z-index: 10; /* Keeps nav on top */
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px 0;
    }

    .logo {
        margin-bottom: 10px;
        width: 80%;
        max-width:100px;
    }

    .main-logo {
        display: none;
    }

    nav {
        width: 100%;
    }

    nav ul {
        justify-content: center; 
        padding-left: 0; /* Adds padding to ensure it doesn't hug the edge */
        flex-wrap: nowrap;
        display: flex;
        align-items: center;
    }

    nav ul li {
        margin: 0 10px; /* More vertical spacing between menu items */
    }

    nav ul li a {
        font-size: 18px; /* Larger font size for better touch interaction */
        text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.9); /* Increase shadow to improve legibility */
    }



    .level-up-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 10vh;
    }

    .level-up-image {
        max-width: 20vw;
    }

    .main {
        justify-content: flex-start; /* Aligns content to the top */
        padding-top: 10vh; /* Adds padding to the top to lower all content */
    }

    .info {
        margin-top: 20vh; /* Smaller value for better control */
        padding: 20px; /* Ensure there's padding around the text */
    }

    .about-us {
        padding-top: 16vh;
    }

    .menu-page {
        padding-top: 16vh;
    }

    .icon-section {
        display: flex;
        flex-direction: column; /* Stacks items vertically on mobile */
        justify-content: flex-start; /* Center items horizontally */
        align-items: center; /* Center items vertically */
        width: 100%; /* Use full width to ensure centering within the parent */
        margin: 20px 0; /* Adjust margins as needed */
    }

    .icon {
        width: 60px; /* Keep your set width */
        height: auto; /* Maintain aspect ratio */
        margin: auto;
        
    }

    .icon-description {
        max-width: 90%;
        /* padding-right: 40px; */
        /* padding-left: 30px; */
        margin-right: 40px;
        text-align: center;
    }
}