:root {
    --main-bg-color: rgba(0, 0, 0, 0.897);
    --text-color: white;
    --text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.75);
    --hover-color: #FFD700;
    --info-bg-color: #2a2a2a;
    --footer-bg-color: #333;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow-x: hidden; /* Prevents horizontal scroll */
}

header {
    display: flex;
    align-items: center;
    justify-content: space-around; 
    background: var(--main-bg-color);
    padding: 10px 0;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.logo {
    width: 100px;
    margin-left: 20px;
}

.navbar {
    flex: 1;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    text-decoration: none;
    color: var(--text-color);
    font-size: 20px;
    font-weight: bold;
    text-shadow: var(--text-shadow);
}

nav ul li a:hover {
    color: var(--hover-color);
}

.main {
    height: 100vh;
    background: url('images/banner.webp') no-repeat center center / cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-section {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    text-shadow: var(--text-shadow);
    color: var(--text-color); /* Ensures text is readable */
}

.info {
    margin-top: 40px; /* Appropriate spacing from the nav */
    background-color: var(--info-bg-color);
    background-image: radial-gradient(circle, #3a3a3a 1px, transparent 1px);
    background-size: 10px 10px;
    position: relative; /* Required to make z-index effective */
    border: 1px solid #FFFFFF; /* White border for extra visibility */
    padding: 10px;
}

.about-us {
    display: flex;
    flex-direction: column;
    align-items: center; /* Ensures vertical centering of all items in .about-us */
    background-color: var(--info-bg-color);
    background-image: radial-gradient(circle, #3a3a3a 1px, transparent 1px);
    background-size: 10px 10px;
    padding: 20px;
    width: 100%; /* Full width for proper centering */
}

.icon-section {
    display: flex;
    width: 100%; /* Full container width */
    justify-content: center; /* Horizontally centers the content within .icon-section */
    align-items: center; /* Vertically aligns items within the container */
    text-align: center; /* Ensures text within is centered if it wraps */
    margin-bottom: 20px; /* Space between sections */
}

.icon {
    width: 60px; /* Fixed width for the icon */
    height: auto; /* Maintain aspect ratio */
    margin-right: 20px; /* Space between the icon and the text */
}

.icon-description {
    display: inline-block; /* Treat the text block as an inline element */
    max-width: 600px; /* Maximum width of the text to avoid overstretching */
}

footer {
    text-align: center;
    padding: 20px 0;
    background: var(--footer-bg-color);
    color: var(--text-color);
}


/* Adjustments for mobile screens */
@media (max-width: 600px) {

    header {
        position: fixed;
        width: 100%;
        background: rgba(0, 0, 0, 0.6); /* Reduced opacity to allow more background visibility */
        z-index: 10; /* Keeps nav on top */
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px 0;
    }

    .logo {
        margin-bottom: 10px;
        width: 80%;
        max-width:100px;
    }

    nav {
        width: 100%;
    }

    nav ul {
        justify-content: center; 
        padding-left: 0; /* Adds padding to ensure it doesn't hug the edge */
        flex-wrap: nowrap;
        display: flex;
        align-items: center;
    }

    nav ul li {
        margin: 0 10px; /* More vertical spacing between menu items */
    }

    nav ul li a {
        font-size: 18px; /* Larger font size for better touch interaction */
        text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.9); /* Increase shadow to improve legibility */
    }

    .main {
        background-image: url('images/banner.webp');  
        background-size: cover;
        background-position: center 12.5vh; 
        background-repeat: no-repeat;
    }

    .info {
        margin-top: 50%; /* Increased top margin for mobile */
        z-index: 5; /* Ensure visibility above the main content */
    }

    .about-us {
        padding-top: 14vh;
    }

    .icon-section {
        display: flex;
        flex-direction: column; /* Stacks items vertically on mobile */
        justify-content: center; /* Center items horizontally */
        align-items: center; /* Center items vertically */
        width: 100%; /* Use full width to ensure centering within the parent */
        margin: 20px 0; /* Adjust margins as needed */
    }

    .icon {
        width: 60px; /* Keep your set width */
        height: auto; /* Maintain aspect ratio */
        margin: auto;
        
    }

    .icon-description {
        max-width: 90%;
    }
}